*{
        margin: 0;
        padding: 0;
        box-shadow: none;
}
body {
        background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.calculator-gird{
        display: grid;
        justify-content: center;
        align-content: center;
        min-height: 100vh;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: minmax(120px, auto) repeat(5, 100px);
        
}
.calculator-gird > button{
        cursor: pointer;
        outline: none;
        background-color: #BAECEF;
        font-size: 20px;
        font-weight: 700;
        border: 1px solid #fff;
        transition: all 0.5s ease;
}
.calculator-gird > button:hover{
        background-color: rgb(255, 255, 255, .9);
}

.span-two{
        grid-column: span 2;
}

.output{
        grid-column: 1 / -1;
        background-color: rgb(0, 0, 0, .8);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        padding: 10px;
        color: #fff;
}
.output .previous-operand{
        font-size: 18px;
}
.output .current-operand{
        font-size: 40px;
        font-weight: 700;
}