*{
        margin: 0;
        padding: 0;
        box-shadow: border-box;
}
body{
        font-family: 'Montserrat', sans-serif;
}

.app {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
}
header h1 {
        margin: 50px 0 15px 0;
        font-weight: 700;
}

.visual > div{
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        left: 20%;
        bottom: 0%;
        z-index: -1;
}
@keyframes jump{
        0%{
                bottom: 0%;
                left: 20%;
        }
        50%{
                bottom: 50%;
                left: 50%;
        }
        100%{
                bottom: 0%;
                left: 80%;
        }
}



.pads {
        width: 100%;
        display: flex;
}
.pads > div {
        height: 100px;
        width: 100px;
        flex: 1;
        border-radius: 25px 25px 0px 0px;
}
.pad1 {
        background: #1cbb87;
}
.pad2 {
        background: #f700ff;
}
.pad3 {
        background: #738c17;
}
.pad4 {
        background: #403535;
}
.pad5 {
        background: #59e6b7;
}
.pad6 {
        background: #3535ee;
}




/* Responsive CSS */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
        header h1 {
                margin: 20px 0 10px 0;
                font-size: 30px;
        }
        .pads > div {
                border-radius: 25px 25px 0px 0px;
        }
}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 481px) {
        .pads > div {
                border-radius: 50% 50% 0px 0px;
        }
}