*{
        margin: 0;
        padding: 0;
        box-shadow: none;
}

header {
        position: sticky;
        top: 0;
        background: #fff;
        box-shadow: 0 0 10px rgb(0, 0, 0);
}
nav {
        min-height: 10vh;
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
header nav h1 {
        font-style: italic;
}
nav ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
}
      nav h1, nav ul {
        flex: 1;
}
nav ul li a {
        line-height: 10vh;
}

.bubble {
	position: absolute;
        z-index: -2;
        background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
        transform: scale(2);
        transition: all 0.5s ease;
}

section {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
section h1 {
	font-size: 8em;
	color: #fff;
	font-weight: 700;
}
.home {
	background: linear-gradient(to right, #642b73, #c6426e);
}
.project {
	background: #0cebeb;
	background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
	background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
}
.contact {
        background: #ff9966;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}